html {
    text-align: center;
    background-color: #EF4040;
    font-family: cursive;
}
ul {
    text-align: center;
    list-style-position: inside;
    color: #711DB0;
}
h1 {
    color : #711DB0;
}
h2 {
    color: white;
}
.center {display: block; 
    margin-left: auto; 
    margin-right:auto; 
    border: 6px solid #FFA732;
    border-radius: 3px;
}
a {text-decoration: none;
    color: black;
}
#purple {
    color: #711DB0;
    background-color: #711DB0;   
    border-color: #711DB0;
    border-radius: 5px;
}
#orange {
    color: #FFA732;
    background-color: #FFA732;   
    border-color: #FFA732;
    border-radius: 5px;
}