html {
    background-color:#FAEBD7
}
h1 {
    color:darkgreen
}
* {
    text-align: center;
    font-family: sans-serif;
}
ul {
    text-align: center;
    list-style-position: inside;
}
p {
    color:red;  
}
hr {border-radius: 5px;
}