html {
    background-color:#FAEBD7
}

* {
    text-align: center;
    font-family: sans-serif;
}
ul {
    text-align: center;
    list-style: none;
}
p {
    color:red;  
}
hr {border-radius: 5px;
}
a {
    color: darkgreen;
    text-decoration: none;
}
img {
width: 200px;    
}
li {padding-top: 30px ;
}
#home {
    color: blue;
}

