html {
    background-color:#FAEBD7;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color: #faebd7;
    background-color: darkgreen;
    border: 25px;
    border-radius: 7px;
    padding: 20px;
}
ul {
    text-align: center;
    list-style: none;
}
p {
    color:red;  
}
hr {border-radius: 5px;
}
a {
    color: darkgreen;
    text-decoration: none;
}
img {
width: 200px;    
}
li {padding-top: 30px ;
}
#home {
    color: blue;
    text-align: left;
}
